{% extends '::base.html.twig' %}

{% block body %}
    <h2>About page.</h2>
    <p>Lorem ipsum Deserunt Ut consequat voluptate fugiat elit anim reprehenderit dolore dolore sit consequat cupidatat veniam nostrud reprehenderit consectetur incididunt ex ea veniam deserunt in aliquip magna elit Ut.</p>
{% endblock %}